<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="frontpage-player-block">
                {{ frontpage_player_block }}
            </div>
        </div>        
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="mydivclass">
                {{ dolebas_me_view }}
            </div>
        </div>
    </div>
</div>