<div class="dolebas-site-branding">
    <a href="/">
    <div class="visible-xs">
        <img class="dolebas-logo-xs" src="/modules/custom/dolebas_default_content/logo-xs.svg">
    </div>
    <div class="hidden-xs">
        <img class="dolebas-logo" src="/modules/custom/dolebas_default_content/logo.svg">
    </div>
    </a>
</div>