<div class="dolebas-top-bar-block">
    
    <div class="dolebas-sidebar-menu-block">
        {{ dolebas_sidebar_menu_block }}
    </div>
    
    <div class="dolebas-site-branding-block">
        {{ dolebas_site_branding_block }}
    </div>
    
    <div class="dolebas-user-display-block">
        {{ dolebas_user_display_block }}
    </div>
    
</div>