<div class="dolebas-sidebar-menu-circle">
    <div class="dolebas-sidebar-menu-block">
        <i class="fa fa-bars" aria-hidden="true" onclick="dolebasSidebarShowHide()"></i>
        
        <div class="dolebas-sidebar-menu">
            <div class="dolebas-sidebar-menu-content">
                <p><a class="use-ajax" data-dialog-type="modal" href="/pricing">    
                    Pricing
                </a></p>
                <p><a class="use-ajax" data-dialog-type="modal" href="/terms">    
                    Terms
                </a></p>        
                <p><a class="use-ajax" data-dialog-type="modal" href="/privacy"> 
                    Privacy
                </a></p>  
                <p><a href="mailto:info@dolebas.com">
                    Contact
                </a></p>           
            </div>
        </div>
        
    </div>

</div>    

<div class="dolebas-sidebar-menu-shadow" onclick="dolebasSidebarShowHide()">
    
</div>

