<div class="dolebas-footer">
    <a class="use-ajax" data-dialog-type="modal" href="/pricing">    
        Pricing
    </a>
        &nbsp;|&nbsp;
    <a href="/">
        Terms
    </a>        
        &nbsp;|&nbsp; 
    <a href="/">
        Privacy
    </a>  
        &nbsp;|&nbsp;
    <a href="/">
        Contact
    </a>          
</div>