<div class="dolebas-footer">
    <a class="use-ajax" data-dialog-type="modal" href="/pricing">    
        Pricing
    </a>
        &nbsp;|&nbsp;
    <a class="use-ajax" data-dialog-type="modal" href="/terms">    
        Terms
    </a>        
        &nbsp;|&nbsp; 
    <a class="use-ajax" data-dialog-type="modal" href="/privacy"> 
        Privacy
    </a>  
        &nbsp;|&nbsp;
    <a href="mailto:info@dolebas.com">
        Contact
    </a>  

</div>
